<template>
	<q-chip
		v-if="carBadge"
		:color="carBadge.color"
		:icon="carBadge.icon"
		text-color="white"
		size="md"
		class="absolute-position non-selectable"
		style="left: -14px; top: -10px"
	>
		{{ carBadge.label }}
	</q-chip>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'CarBadge',

	props: {
		car: {
			type: Object,
			required: true,
		},
	},

	data() {
		return {
			CAR_BAGE_TYPES: {
				PENDING: {
					label: 'Очікує надходження',
					color: 'warning',
					icon: 'fa-solid fa-hourglass-half',
				},
				NOT_AVAILABLE: {
					label: 'Продано',
					color: 'negative',
					icon: 'dangerous',
				},
				NEW: {
					label: 'Новинка!',
					color: 'positive',
					icon: 'star_outline',
				},
			},
		};
	},

	computed: {
		...mapGetters('cars', ['isNewestCar']),

		carBadge() {
			let badge = null;

			if (this.car.pending) {
				badge = this.CAR_BAGE_TYPES.PENDING;
			} else if (!this.car.available) {
				badge = this.CAR_BAGE_TYPES.NOT_AVAILABLE;
			} else if (this.isNewestCar(this.car.id)) {
				badge = this.CAR_BAGE_TYPES.NEW;
			}

			return badge;
		},
	},
};
</script>
