<template>
	<q-card
		:class="[
			'shadow-transition full-height',
			isDetailView && $q.screen.gt.md ? 'row' : 'column no-wrap',
		]"
	>
		<q-card-section
			:class="[
				'q-pa-none',
				{ 'column no-wrap col-7': isDetailView && $q.screen.gt.md },
			]"
		>
			<router-link :to="`/cars/${car.id}`">
				<q-img :src="carImage">
					<template #loading>
						<q-spinner :thickness="2" size="2em" color="primary" />
					</template>
				</q-img>
			</router-link>
			<CarBadge :car="car" />
		</q-card-section>

		<q-card-section
			:class="[
				'flex-grow column justify-between q-pb-xs',
				{ 'col-5': isDetailView && $q.screen.gt.md },
			]"
		>
			<div :class="{ 'column flex-grow justify-between': !isDetailView }">
				<router-link :to="`/cars/${car.id}`">
					<div
						:class="[
							'text-bold text-primary',
							isDetailView ? 'text-h6' : 'text-subtitle2',
						]"
					>
						{{ car.label }}
					</div>
				</router-link>
				<div>
					<div class="text-weight-bolder text-h5">
						{{ formatAmount(car.price) }}
					</div>
					<div v-if="!isDetailView" class="q-mt-md">
						<div class="row justify-between">
							<b>Рік випуску:</b>
							<span>{{ car.year }}</span>
						</div>
						<q-separator />
						<div class="row justify-between">
							<b>Пробіг (тис. км):</b>
							<span>{{ car.odometer }}</span>
						</div>
					</div>
					<div v-else>
						<CarDetailsTable
							:car="car"
							:isDetailView="isDetailView"
							class="q-mt-md col-12 col-xl-6"
						/>
					</div>
				</div>
			</div>
			<div>
				<div
					:class="[
						'justify-end items-end q-gutter-y-sm q-mt-sm',
						isDetailView ? 'column' : 'row',
					]"
				>
					<CreateRequestButton
						:isMiniMode="!isDetailView"
						label="Зворотній дзвінок"
						icon="o_phone"
						color="primary"
						class="fit-content"
						@click="showRequestCallbackDialog = true"
					/>
					<CreateRequestButton
						v-if="this.car.available"
						:isMiniMode="!isDetailView"
						label="Записатися на тест-драйв"
						icon="o_edit_road"
						color="primary"
						class="fit-content"
						@click="showRequestTestDriveDialog = true"
					/>
				</div>
			</div>
		</q-card-section>

		<div
			class="linear-gradient relative-position col-12"
			style="height: 4px"
		>
			<div class="linear-gradient__inner" />
		</div>

		<RequestCallbackDialog
			v-if="showRequestCallbackDialog"
			:carLinkParams="carLinkParams"
			@dialog-closed="showRequestCallbackDialog = false"
		/>
		<RequestTestDriveDialog
			v-if="showRequestTestDriveDialog"
			:carLinkParams="carLinkParams"
			@dialog-closed="showRequestTestDriveDialog = false"
		/>
	</q-card>
</template>

<script>
import CarDetailsTable from '@/cars/CarDetailsTable.vue';
import CreateRequestButton from '@/buttons/CreateRequestButton.vue';
import formatters from 'mixins/formatters';
import { defineAsyncComponent } from 'vue';
import { getAppBaseUrl } from 'utils/helpers';

export default {
	name: 'CarCard',

	components: {
		CarDetailsTable,
		CreateRequestButton,
		CarBadge: defineAsyncComponent(() => import('@/cars/CarBadge.vue')),
		RequestCallbackDialog: defineAsyncComponent(() =>
			import('@/dialogs/RequestCallbackDialog.vue')
		),
		RequestTestDriveDialog: defineAsyncComponent(() =>
			import('@/dialogs/RequestTestDriveDialog.vue')
		),
	},

	props: {
		car: {
			type: Object,
			required: true,
		},
		carImage: {
			type: String,
			required: true,
		},
		isDetailView: {
			type: Boolean,
			required: false,
			default: false,
		},
	},

	mixins: [formatters],

	data() {
		return {
			showRequestCallbackDialog: false,
			showRequestTestDriveDialog: false,
		};
	},

	computed: {
		carLinkParams() {
			const baseUrl = getAppBaseUrl();

			return {
				link: `${baseUrl}${this.$route.path}/${this.car.id}`,
				label: this.car.label,
			};
		},
	},
};
</script>
