<template>
	<q-markup-table
		separator="cell"
		class="alternating"
		wrap-cells
		flat
		bordered
	>
		<thead v-if="!isDetailView">
			<tr>
				<th :colspan="columnsCount">
					<div class="row q-table__title">Характеристики:</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(group, index) in paramsGroups" :key="index">
				<td
					v-for="(param, index) in group"
					:key="index"
					:style="`width: ${columnWidth}%;`"
				>
					<div
						class="param-name row no-wrap justify-between items-center"
					>
						<div class="text-left text-bold">
							{{ param.label }}:
						</div>
						<div class="row justify-end">
							{{ param.value }}
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</q-markup-table>
</template>

<script>
import { CONSTRUCTION_TYPES, TRANSMISSION_TYPES } from 'utils/constants';

export default {
	name: 'CarDetailsTable',

	props: {
		car: {
			type: Object,
			required: true,
		},
		isDetailView: {
			type: Boolean,
			required: false,
			default: false,
		},
	},

	computed: {
		carDetails() {
			const paramsOptions = [
				{ param: 'year', label: 'Рік випуску' },
				{ param: 'transmissionType', label: 'Тип коробки передач' },
				{ param: 'capacity', label: "Об'єм вантажного відсіку (м³)" },
				{ param: 'fuelConsumption', label: 'Витрата палива (л/100км)' },
				{ param: 'odometer', label: 'Пробіг (тис. км)' },
				{ param: 'loadCapacity', label: "Вантажепід'ємність (т)" },
				{ param: 'wagonType', label: 'Клас ізотермічного фургону' },
				{ param: 'constructionType', label: 'Тип кузова' },
			];

			const shortViewParams = [
				'year',
				'odometer',
				'transmissionType',
				'capacity',
			];
			const paramsToDisplay = !this.isDetailView
				? paramsOptions
				: paramsOptions.filter((option) =>
					shortViewParams.includes(option.param)
				);

			return paramsToDisplay.map((option) => {
				let paramValue = '';
				switch (option.param) {
					case 'transmissionType':
						paramValue = TRANSMISSION_TYPES[this.car.transmissionType].label;
						break;
					case 'constructionType':
						paramValue = CONSTRUCTION_TYPES[this.car.constructionType].label;
						break;
					default:
						paramValue = this.car[option.param];
				}

				return { ...option, value: paramValue };
			});
		},

		paramsGroups() {
			return this.getArrayChunks(this.carDetails, this.columnsCount);
		},

		columnWidth() {
			return 100 / this.columnsCount;
		},

		columnsCount() {
			return this.$q.screen.gt.sm ? 2 : 1;
		},
	},

	methods: {
		getArrayChunks(array, chunkSize) {
			const result = [];

			const chunksCount = Math.ceil(array.length / chunkSize);

			for (let i = 0; i < chunksCount; i++) {
				result[i] = array.slice(
					i * chunkSize,
					i * chunkSize + chunkSize
				);
			}

			return result;
		},
	},
};
</script>
