<template>
	<div v-if="images.length" class="common-grid q-mt-md">
		<CarCard
			v-for="car in carsList"
			:key="car.id"
			:car="car"
			:carImage="getCarImage(car.id)"
		/>
	</div>

	<q-inner-loading v-else />
</template>

<script>
import CarCard from '@/cars/CarCard.vue';
import { loadImages } from 'utils/helpers';

const imagePromises = import.meta.glob('assets/cars/**/*.(jpeg|jpg|png)');

export default {
	name: 'CarsGrid',

	props: {
		carsList: {
			type: Array,
			requeired: true,
		},
	},

	components: {
		CarCard,
	},

	data() {
		return {
			images: [],
		};
	},

	async created() {
		this.images = await loadImages(imagePromises);
	},

	methods: {
		getCarImage(carId) {
			return this.images.find((image) => image.includes(carId));
		},
	},
};
</script>
