<template>
	<q-list class="rounded-borders cars-filter fit-content" bordered separator>
		<q-expansion-item
			:default-opened="!!params.constructionTypeGroup.length"
			icon="local_shipping"
			label="Тип кузова"
			dense-toggle
		>
			<q-separator />
			<q-option-group
				v-model="params.constructionTypeGroup"
				:options="constructionTypeOptions"
				color="positive"
				type="checkbox"
				class="q-py-sm non-selectable"
			/>
		</q-expansion-item>
		<q-expansion-item
			:default-opened="!!params.yearsGroup.length"
			icon="calendar_month"
			label="Рік випуску"
			dense-toggle
		>
			<q-separator />
			<q-option-group
				v-model="params.yearsGroup"
				:options="yearsOptions"
				color="positive"
				type="checkbox"
				class="q-py-sm non-selectable"
			/>
		</q-expansion-item>
		<q-expansion-item
			:default-opened="!!params.transmissionGroup.length"
			icon="fa-solid fa-gears"
			label="Коробка передач"
			dense-toggle
		>
			<q-separator />
			<q-option-group
				v-model="params.transmissionGroup"
				:options="transmissionOptions"
				color="positive"
				type="checkbox"
				class="q-py-sm non-selectable"
			/>
		</q-expansion-item>
		<q-expansion-item
			icon="attach_money"
			label="Ціна"
			dense-toggle
			default-opened
		>
			<q-separator />
			<div class="q-px-md q-py-sm">
				<div class="row no-wrap q-gutter-x-sm">
					<q-input
						:model-value="params.priceRange.min"
						label="Ціна від"
						color="primary"
						class="q-pa-none"
						hide-bottom-space
						hide-hint
						dense
						item-aligned
						@change="(val) => cahngeMinValue(val)"
					/>
					<q-input
						:model-value="params.priceRange.max"
						label="Ціна до"
						color="primary"
						class="q-pa-none"
						hide-bottom-space
						hide-hint
						dense
						item-aligned
						@change="(val) => cahngeMaxValue(val)"
					/>
				</div>
				<q-range
					:model-value="params.priceRange"
					:min="carsPriceRange.min"
					:max="carsPriceRange.max"
					@change="
						(val) => {
							params.priceRange = val;
						}
					"
				/>
			</div>
		</q-expansion-item>
	</q-list>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import { CONSTRUCTION_TYPES, TRANSMISSION_TYPES } from 'utils/constants';
import { extend } from 'quasar';

export default {
	name: 'CarsFilter',

	props: {
		filterParams: {
			type: Object,
			required: true,
		},
	},

	emits: ['run-filter'],

	data() {
		return {
			params: {
				transmissionGroup: [],
				yearsGroup: [],
				constructionTypeGroup: [],

				priceRange: {
					min: null,
					max: null,
				},
			},
		};
	},

	computed: {
		...mapState('cars', ['carsList']),
		...mapGetters('cars', ['carsPriceRange']),

		transmissionOptions() {
			return Object.values(TRANSMISSION_TYPES);
		},

		yearsOptions() {
			return [...new Set(this.carsList.map((car) => car.year))]
				.map((year) => ({ value: year, label: String(year) }))
				.sort((firstOption, secondOption)=> firstOption.value - secondOption.value);
		},

		constructionTypeOptions() {
			return Object.values(CONSTRUCTION_TYPES);
		},
	},

	created() {
		this.params = extend(true, {}, this.filterParams);

		this.cahngeMinValue(this.filterParams.priceRange.min);
		this.cahngeMaxValue(this.filterParams.priceRange.max);
	},

	watch: {
		params: {
			deep: true,
			handler() {
				this.runFilter();
			},
		},
	},

	methods: {
		runFilter() {
			this.$emit('run-filter', this.params);
		},

		cahngeMinValue(val) {
			const value = this.getClearAmount(val);

			this.params.priceRange.min = Math.min(
				value,
				this.carsPriceRange.max
			);
			this.params.priceRange.max = Math.max(
				this.params.priceRange.min,
				this.params.priceRange.max
			);
		},

		cahngeMaxValue(val) {
			const value = this.getClearAmount(val);

			this.params.priceRange.min = Math.min(
				value,
				this.params.priceRange.min
			);
			this.params.priceRange.max = Math.min(
				value,
				this.carsPriceRange.max
			);
		},

		getClearAmount(val) {
			const clearValue = String(val).replace(/[^0-9]+/g, '');
			const value = Math.max(clearValue, this.carsPriceRange.min);

			return value;
		},
	},
};
</script>

<style lang="scss">
@media all {
	.cars-filter {
		width: 270px;

		.q-item {
			&[aria-expanded='true'] {
				background: $grey-3;
			}

			.q-item__section:nth-child(2) {
				min-width: auto;
				padding-right: 8px;
				color: $primary;
			}
		}
	}
}

@media (max-width: $breakpoint-md) {
	.cars-filter {
		width: auto;
	}
}
</style>
