<template>
	<q-btn
		:label="!isMiniMode ? label : ''"
		:align="isMiniMode ? 'center' : 'left'"
		:style="isMiniMode ? '' : 'height: 42px;'"
		:round="isMiniMode"
		:flat="isMiniMode"
		:rounded="!isMiniMode"
		:outline="!isMiniMode"
		:icon="icon"
		:color="color"
		class="create-request-button"
		@click="$emit('click')"
	/>
</template>

<script>
export default {
	name: 'CreateRequestButton',

	props: {
		label: {
			type: String,
			required: true,
		},
		icon: {
			type: String,
			required: true,
		},
		isMiniMode: {
			type: Boolean,
			required: false,
			default: false,
		},
		color: {
			type: String,
			required: false,
			default: 'white',
		},
	},

	emits: ['click'],
};
</script>

<style lang="scss">
.create-request-button {
	.q-btn__content {
		overflow: hidden !important;
		white-space: nowrap !important;
		flex-wrap: nowrap;
	}
}
</style>
