<template>
	<div class="column no-wrap">
		<div v-if="isGridView">
			<h1
				:class="[
					'text-h5 text-weight-bolder text-uppercase q-my-md',
					{ 'text-center': !isGridView },
				]"
			>
				Наші клієнти
			</h1>

			<div class="row justify-center">
				<div class="clients-logo-container full-width">
					<q-card
						v-for="(logo, index) in images"
						:key="index"
						class="shadow-transition"
					>
						<img :src="images[index]" />
					</q-card>
				</div>
			</div>
		</div>

		<q-no-ssr v-else>
			<div :class="{ 'q-px-md': isWideScreen }">
				<q-carousel
					v-model="slideNumber"
					:transition-duration="800"
					:autoplay="3500"
					:navigation="isWideScreen"
					transition-prev="slide-right"
					transition-next="slide-left"
					control-color="primary"
					class="shadow-2 rounded-borders clinets-carousel"
					height="250px"
					swipeable
					animated
					padding
					arrows
					infinite
				>
					<q-carousel-slide
						v-for="slideNumber in slidesCount"
						:key="slideNumber"
						:name="slideNumber"
						class="column no-wrap"
					>
						<div
							class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap"
						>
							<q-img
								v-for="(imageNumber, index) in itemsInSlide"
								:key="imageNumber"
								:src="
									images[
										getCurrentImageIndex(slideNumber, index)
									]
								"
								:class="[
									'rounded-borders full-height',
									`col-${12 / itemsInSlide}`,
								]"
							>
								<template #loading>
									<q-spinner
										v-if="
											getCurrentImageIndex(
												slideNumber,
												imageNumber
											) <= images.length
										"
										:thickness="2"
										size="2em"
										color="primary"
									/>
								</template>
							</q-img>
						</div>
					</q-carousel-slide>
				</q-carousel>
			</div>
			<q-resize-observer @resize="onResize" />
		</q-no-ssr>
	</div>
</template>

<script>
import { loadImages } from 'utils/helpers';

const imagePromises = import.meta.glob('assets/clients-logo/*.(jpeg|jpg|png)');

export default {
	name: 'ClientsList',

	props: {
		isGridView: {
			type: Boolean,
			required: false,
			default: false,
		},
	},

	data() {
		return {
			slideNumber: 0,

			images: [],
		};
	},

	computed: {
		isWideScreen() {
			return this.$q.screen.gt.sm;
		},

		itemsInSlide() {
			if (this.$q.screen.xs || this.$q.screen.sm) {
				return 1;
			} else if (this.$q.screen.md) {
				return 2;
			}

			return 4;
		},

		slidesCount() {
			return Math.ceil(this.images.length / this.itemsInSlide);
		},
	},

	async created() {
		this.images = await loadImages(imagePromises);
	},

	methods: {
		getCurrentImageIndex(slideNumber, imageNumber) {
			return (slideNumber - 1) * this.itemsInSlide + imageNumber;
		},
		onResize() {
			this.slideNumber = 1;
		},
	},
};
</script>

<style lang="scss">
.clinets-carousel {
	.q-img__container {
		display: flex;
		align-items: center;
		justify-content: center;

		.q-img__image {
			width: 100%;
			height: auto;
		}
	}
}
@media all {
	.clients-logo-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 1rem;
		max-width: 1200px;
	}
}

@media (min-width: $breakpoint-xl) {
	.clients-logo-container {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		max-width: 1600px;
	}
}
</style>
