<template>
	<div class="relative-position full-height column no-wrap">
		<div class="q-pa-lg">
			<CommonBreadcrumbs />

			<q-separator class="linear-gradient q-my-md" size="2px" />

			<h1 class="text-h5 text-weight-bolder text-uppercase q-my-md">
				Про компанію
			</h1>

			<div class="common-page-content">
				<AboutUsTimeline />
			</div>
		</div>
		<GoogleMap class="q-mt-md flex-grow" />
	</div>
</template>

<script>
import CommonBreadcrumbs from '@/common/CommonBreadcrumbs.vue';
import AboutUsTimeline from '@/common/AboutUsTimeline.vue';
import GoogleMap from '@/common/GoogleMap.vue';

export default {
	name: 'AboutUsPage',

	components: {
		CommonBreadcrumbs,
		AboutUsTimeline,
		GoogleMap,
	},
};
</script>
