<template>
	<div class="q-pa-lg">
		<CommonBreadcrumbs />

		<q-separator class="linear-gradient q-my-md" size="2px" />

		<div class="common-page-content">
			<ClientsList isGridView />

			<SloganMessage class="q-mt-lg" />
		</div>
	</div>
</template>

<script>
import CommonBreadcrumbs from '@/common/CommonBreadcrumbs.vue';
import SloganMessage from '@/common/SloganMessage.vue';
import ClientsList from '@/clients/ClientsList.vue';

export default {
	name: 'ClientsPage',

	components: {
		CommonBreadcrumbs,
		ClientsList,
		SloganMessage,
	},
};
</script>
