<template>
	<div class="relative-position full-height column no-wrap">
		<div class="q-pa-lg">
			<CommonBreadcrumbs />

			<q-separator class="linear-gradient q-my-md" size="2px" />

			<h1 class="text-h5 text-weight-bolder text-uppercase q-my-md">
				Наші контакти
			</h1>

			<div class="common-page-content">
				<div class="text-weight-bolder text-h6">
					З питань купівлі та підтримки контактуйте:
				</div>
				<div class="row justify-center q-mt-md">
					<div
						:class="[
							'full-width',
							isSingleContactPerson
								? `${isWideScreen ? 'row no-wrap' : 'col'}`
								: 'contact-cards-container',
						]"
					>
						<ContactPersonCard
							v-for="person in contactPesons"
							:key="person.number"
							:person="person"
						/>

						<template v-if="isSingleContactPerson">
							<q-separator
								:vertical="isWideScreen"
								:class="isWideScreen ? 'q-mx-md' : 'q-my-md'"
							/>

							<div class="column">
								<OurWorkflow />

								<q-separator class="q-my-md" />

								<div class="column">
									<LinksGroup
										v-for="link in contactLinks"
										:key="link.icon"
										:link="link"
										textColor="text-black"
									/>
								</div>
							</div>
						</template>
					</div>
				</div>

				<q-separator class="q-my-md" />

				<div
					v-if="!isSingleContactPerson"
					:class="`${isWideScreen ? 'row no-wrap' : 'col'}`"
				>
					<OurWorkflow />

					<q-separator
						:vertical="isWideScreen"
						:class="isWideScreen ? 'q-mx-md' : 'q-my-md'"
					/>

					<div class="column">
						<LinksGroup
							v-for="link in contactLinks"
							:key="link.icon"
							:link="link"
							textColor="text-black"
						/>
					</div>
				</div>

				<q-separator v-if="!isSingleContactPerson" class="q-my-md" />
			</div>
		</div>

		<GoogleMap class="flex-grow" />
	</div>
</template>

<script>
import CommonBreadcrumbs from '@/common/CommonBreadcrumbs.vue';
import LinksGroup from '@/common/LinksGroup.vue';
import OurWorkflow from '@/contacts/OurWorkflow.vue';
import GoogleMap from '@/common/GoogleMap.vue';
import ContactPersonCard from '@/contacts/ContactPersonCard.vue';
import {
	COMPANY_EMAILS,
	COMPANY_DETAILS,
	COMPANY_CONTACT_PERSONS,
} from 'utils/constants';
import { getFormattedPhoneNumber } from 'utils/formatters';

export default {
	name: 'ContactsPage',

	components: {
		CommonBreadcrumbs,
		LinksGroup,
		ContactPersonCard,
		OurWorkflow,
		GoogleMap,
	},

	computed: {
		isWideScreen() {
			return this.$q.screen.gt.sm;
		},

		contactPesons() {
			return Object.keys(COMPANY_CONTACT_PERSONS).map((key) => ({
				name: COMPANY_CONTACT_PERSONS[key].name,
				phoneValue: `tel:+${COMPANY_CONTACT_PERSONS[key].phone}`,
				phoneLabel: getFormattedPhoneNumber(
					COMPANY_CONTACT_PERSONS[key].phone
				),
				title: COMPANY_CONTACT_PERSONS[key].title,
				role: key,
			}));
		},

		isSingleContactPerson() {
			return this.contactPesons.length === 1;
		},

		phoneNumbers() {
			return Object.values(COMPANY_CONTACT_PERSONS).map((contact) => ({
				path: `tel:+${contact.phone}`,
				label: getFormattedPhoneNumber(contact.phone),
			}));
		},

		contactLinks() {
			return [
				{
					label: COMPANY_DETAILS.LEGAL_ADDRESS,
					icon: 'o_location_on',
				},
				{
					childs: this.phoneNumbers,
					icon: 'o_phone',
				},
				{
					childs: [
						{
							label: COMPANY_EMAILS.CONTACT_EMAIL,
							path: `mailto:${COMPANY_EMAILS.CONTACT_EMAIL}`,
							target: '_blank',
						},
					],
					icon: 'o_email',
				},
				{
					label: COMPANY_DETAILS.SCHEDULE,
					icon: 'schedule',
					styles: 'white-space: pre-wrap',
				},
				{

					icon: 'language',
					childs: [
						{
							label: 'Ми на AUTO.RIA',
							path: COMPANY_DETAILS.AUTO_RIA_LINK,
							target: '_blank',
						},
					],
				}
			];
		},
	},
};
</script>

<style lang="scss">
.contact-cards-container {
	display: grid;
	width: fit-content;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	grid-gap: 1rem;
	max-width: 1000px;
}
</style>
