<template>
	<div :class="['q-pa-xl row justify-center', { 'full-height': !size }]">
		<div class="column justify-center items-center">
			<q-img src="~assets/404.png" :height="size" :width="size">
				<template #loading>
					<q-spinner :thickness="2" size="2em" color="primary" />
				</template>
			</q-img>
			<div class="column justify-center">
				<div class="text-h6 text-bold text-center text-grey-7">
					{{ message }}
				</div>
				<div v-if="!hideButton" class="row justify-center q-mt-md">
					<q-btn
						label="На головну"
						color="white"
						icon="o_home"
						text-color="primary"
						to="/"
						rounded
						outline
					/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ErrorNotFound',

	props: {
		message: {
			type: String,
			required: false,
			default: 'Дідько! Схоже, тут нічого немає...',
		},
		hideButton: {
			type: Boolean,
			required: false,
			default: false,
		},
		size: {
			type: String,
			required: false,
			default: '',
		},
	},
};
</script>
