<template>
	<div>
		<div class="relative-position">
			<ResponsiveCarousel
				:images="images"
				:ratio="ASPECT_RATIO"
				:autoplay="4500"
				:transition-duration="2400"
				class="shadow-2"
			/>
			<div class="absolute column justify-end carousel-message-container">
				<h1 class="q-ma-lg text-weight-bolder">
					Вантажні авто для бізнесу
				</h1>
			</div>
		</div>
		<div class="common-page-content">
			<div class="q-pa-lg">
				<h2 class="text-h5 text-weight-bolder text-uppercase q-my-md">
					Про компанію
				</h2>
				<q-separator class="q-my-md" />
				<AboutUsTimeline class="q-mt-md" />

				<h2 class="text-h5 text-weight-bolder text-uppercase q-my-md">
					Ми пропонуємо
				</h2>
				<q-separator class="q-my-md" />
				<ServicesStepper class="q-mt-md" />

				<h2 class="text-h5 text-weight-bolder text-uppercase q-my-md">
					Нові надходження
				</h2>
				<q-separator class="q-my-md" />
				<CarsGrid :carsList="newestCarsList" class="q-mx-auto" />

				<h2 class="text-h5 text-weight-bolder text-uppercase q-my-md">
					Хто нам довіряє?
				</h2>
				<q-separator class="q-my-md" />
				<ClientsList class="q-mt-md" />

				<SloganMessage class="q-mt-md" />
			</div>
		</div>

		<GoogleMap class="q-mt-md" />
	</div>
</template>

<script>
import ResponsiveCarousel from '@/common/ResponsiveCarousel.vue';
import AboutUsTimeline from '@/common/AboutUsTimeline.vue';
import ServicesStepper from '@/common/ServicesStepper.vue';
import CarsGrid from '@/cars/CarsGrid.vue';
import ClientsList from '@/clients/ClientsList.vue';
import SloganMessage from '@/common/SloganMessage.vue';
import GoogleMap from '@/common/GoogleMap.vue';
import { mapGetters } from 'vuex';
import { loadImages } from 'utils/helpers';

const imagePromises = import.meta.glob('assets/company/*.(jpeg|jpg|png)');

export default {
	name: 'MainPage',

	components: {
		ResponsiveCarousel,
		AboutUsTimeline,
		ServicesStepper,
		CarsGrid,
		ClientsList,
		SloganMessage,
		GoogleMap,
	},

	data() {
		return {
			images: [],

			ASPECT_RATIO: 2.01, // 2931/1454
		};
	},

	computed: {
		...mapGetters('cars', ['newestCarsList']),
	},

	async created() {
		this.images = await loadImages(imagePromises);
	},
};
</script>

<style lang="scss" scoped>
.carousel-message-container {
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	box-shadow: inset 0px -180px 80px -14px rgba(29, 29, 29, 0.94);

	h1 {
		color: white;
		font-size: 7.414vw;
		line-height: 0.82;
	}
}
</style>
