<template>
	<div class="q-pa-lg">
		<CommonBreadcrumbs />

		<q-separator class="linear-gradient q-my-md" size="2px" />

		<h1 class="text-h5 text-weight-bolder text-uppercase q-my-md">
			Оплата і доставка
		</h1>

		<div class="common-page-content">
			<div class="row q-gutter-md">
				<div v-for="group in infoGroups" :key="group.label">
					<p class="text-bold text-h6 q-ma-none">{{ group.label }}</p>
					<p style="white-space: pre-wrap">{{ group.caption }}</p>

					<div class="q-gutter-y-sm">
						<div
							v-for="option in group.options"
							:key="option.label"
							class="row no-wrap items-cente text-subtitle1 text-black q-ml-md"
						>
							<q-icon
								:name="option.icon"
								size="sm"
								color="primary"
							/>
							<div class="q-ml-sm">{{ option.label }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import CommonBreadcrumbs from '@/common/CommonBreadcrumbs.vue';

export default {
	name: 'PaymentsAndDelivery',

	components: {
		CommonBreadcrumbs,
	},

	data() {
		return {
			infoGroups: [
				{
					label: 'Оплата',
					caption:
						'Оплата за автомобілі проводиться у зручний для клієнтів спосіб:',
					options: [
						{
							label: 'Готівка',
							icon: 'fa-regular fa-money-bill-1',
						},
						{
							label: 'Безготівковий перерахунок із ПДВ',
							icon: 'fa-regular fa-credit-card',
						},
					],
				},
				{
					label: 'Доставка',
					caption:
						'Всі наші автомобілі розмитнені і знаходяться в Україні в м.Дніпро.\nПропонуємо обрати один зі зручних способів отримання придбаних авто:',
					options: [
						{
							label: 'Самовивіз з м. Дніпро',
							icon: 'fa-regular fa-user',
						},
						{
							label: 'Перегон у будь-яке місто за потребою клієнта (за додаткову оплату)',
							icon: 'fa-solid fa-truck-fast',
						},
					],
				},
			],
		};
	},
};
</script>
