<template>
	<div class="q-pa-lg">
		<CommonBreadcrumbs />

		<q-separator class="linear-gradient q-my-md" size="2px" />

		<h1 class="text-h5 text-weight-bolder text-uppercase q-my-md">
			Послуги
		</h1>

		<div class="row common-page-content">
			<div class="col-xs-12 col-lg-6 col-xl-5">
				<ServicesStepper />
			</div>
			<div class="col-xs-12 col-lg-6 col-xl-7 column">
				<ResponsiveCarousel
					:images="images"
					:ratio="ASPECT_RATIO"
					:autoplay="3500"
					:transition-duration="800"
					transition-prev="slide-right"
					transition-next="slide-left"
					class="shadow-2"
					arrows
					swipeable
					navigation
				/>

				<SloganMessage class="q-mt-md" />
			</div>
		</div>
	</div>
</template>

<script>
import CommonBreadcrumbs from '@/common/CommonBreadcrumbs.vue';
import ResponsiveCarousel from '@/common/ResponsiveCarousel.vue';
import ServicesStepper from '@/common/ServicesStepper.vue';
import SloganMessage from '@/common/SloganMessage.vue';
import { loadImages } from 'utils/helpers';

const imagePromises = import.meta.glob('assets/company/*.(jpeg|jpg|png)');

export default {
	name: 'ServicesPage',

	components: {
		CommonBreadcrumbs,
		ResponsiveCarousel,
		ServicesStepper,
		SloganMessage,
	},

	data() {
		return {
			step: '1',

			images: [],

			ASPECT_RATIO: 2.01, // 2931/1454

			stepsList: [
				{
					title: 'Потрібно авто для бізнесу?',
					header: 'Ми забезпечуємо:',
					icon: 'list',
					options: [
						'Легальність ввозу та розмитнення авто з прозорими документами',
						'Надійність угоди',
						'Можливість купити авто з ПДВ',
						'Пригон авто під вимоги клієнта в необхідні терміни',
						'Можливість вибору авто з існуючих в Україні',
						'Гарні ціни та можливість отримувати знижки завдяки плідним довгостроковим відносинам',
					],
				},
				{
					title: 'Ви витрачаєте на його пошук та оформлення угоди багато часу та сил?',
					header: 'З нами ви отримаєте:',
					icon: 'trending_up',
					options: [
						'Впевненість',
						'Злагодженість',
						'Гарантію якості як у відносинах так у наших товарах та послугах',
						'Дотримання обговорених строків',
						'Контактність',
						'Організованість',
					],
				},
				{
					title: 'Вам попадались неякісні та недобросовісні продавці, партнери в питаннях купівлі авто для Вашого бізнесу?',
					header: 'Ми виконуємо:',
					icon: 'settings',
					options: [
						'Підбір та доставку автомобілів: рефрижераторів, бортових вантажівок, фургонів та автобусів',
						'Встановлення на облік в МРЕВ',
						'Комплексну діагностику на професійному обладнанні',
						'Сервіс та ТО',
					],
				},
			],
		};
	},

	async created() {
		this.images = await loadImages(imagePromises);
	},
};
</script>
