// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #f85a2a; // #1976d2
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #1a1a1d; // #121212

$positive: #26a69a; // #34967d // #66bb6a
$negative: #ef5350; // #c10015
$info: #31ccec;
$warning: #f2c037;

$breakpoint-xs: 480px; // 575px
$breakpoint-sm: 768px; // 767px
$breakpoint-md: 998px; // 767px
$breakpoint-lg: 1199px;
$breakpoint-xl: 1599px;
