.q-carousel {
	.q-carousel__slides-container {
		.q-panel {
			overflow: hidden;

			.q-carousel__slide {
				padding: 0;
			}
		}
	}
	.q-carousel__control {
		bottom: 0;

		&::-webkit-scrollbar {
			width: 6px;
			height: 0px;
		}
	}
}
