@media all {
	.common-grid {
		position: relative !important;
		display: grid;
		grid-template-columns: repeat(auto-fit, calc(25% - (3 * 1rem / 4)));
		grid-gap: 1rem;
		max-width: min(1600px, 100%);
		height: fit-content;

		&--detailed {
			grid-template-columns: auto !important;
		}
	}
}

@media (max-width: $breakpoint-lg) {
	.common-grid {
		grid-template-columns: repeat(auto-fit, calc(33.33% - (2 * 1rem / 3)));
	}
}

@media (max-width: $breakpoint-md) {
	.common-grid {
		grid-template-columns: repeat(auto-fit, calc(50% - (1rem / 2)));
	}
}

@media (max-width: $breakpoint-sm) {
	.common-grid {
		grid-template-columns: repeat(auto-fit, 100%);
	}
}
