html,
body,
#q-app,
.main-wrap {
	height: 100%;

	.q-page {
		min-height: auto !important;
	}
}

.common-page-content {
	max-width: 1920px;
	margin: 0 auto;
}

a {
	color: white;

	&:hover {
		color: $primary !important;
	}
}

.shadow-transition:hover {
	box-shadow: $shadow-8;
}

.blurred-l {
	-ms-filter: 'blur(5px)';
	filter: blur(5px);
}

// Flex helpers
.flex-grow {
	flex-grow: 1 !important;
}
.flex-no-shrink {
	flex-shrink: 0 !important;
}

.linear-gradient {
	background: linear-gradient(90deg, #fdd24c 0%, #f60e19 100%);

	&__inner {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		background-color: white;
		transition: all 0.3s ease;
	}
}

.q-card:hover {
	.linear-gradient__inner {
		left: 100%;
	}
}

.fit-content {
	width: fit-content;
	height: fit-content;
}

.absolute-position {
	position: absolute;
}
