.q-notification {
	padding: 0;
	max-width: 100%;

	&.q-notification--multi-line {
		min-height: auto;
	}
	.q-notification__wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		.q-icon {
			align-self: stretch;
			height: auto;
			padding: 0 12px;
			margin: 0;
			background: rgba(0, 0, 0, 0.1);
		}
		.q-notification__message {
			font-size: 16px;
			padding: 12px;
		}
		.q-notification__actions {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			padding: 4px 12px 4px 0;
			.q-btn {
				padding: 4px;

				&:not(:first-child) {
					margin: 0 0 0 4px;
				}
			}
		}
		.q-notification__badge--top-left {
			top: -7px;
			left: -6px;
		}
		.q-notification__progress {
			left: 0;
			right: 0;
			z-index: $z-max;
		}
	}
}

@media (max-width: $breakpoint-sm) {
	.q-notification .q-notification__wrapper .q-notification__actions {
		flex-direction: column;

		.q-btn {
			padding: 4px;

			&:not(:first-child) {
				margin: 4px 0 0 0;
			}
		}
	}
}
