.q-field {
	&:not(.q-field--dense) .q-field__label {
		top: 30px;
	}
	&:not(.q-field--dense).q-field--float .q-field__label {
		transform: translateY(-100%) scale(0.75);
	}


	&.required-field-mark::before,
	&.required-field-mark-acquaintance::before {
		content: '';
		width: 10px;
		padding-right: 4px;
		margin-top: 13px;
	}
	&.required-field-mark::before {
		content: '*';
		color: red;
	}
	&.no-error-field .q-field__bottom {
		display: none;
	}
	&.q-field--disabled .q-field__native[title] {
		pointer-events: all;
	}
	.q-field__native {
		line-height: 0.75 !important;
	}
}
