.breakable {
	word-wrap: break-word;
}
.text-truncate {
	white-space: normal !important;
}
.overflow-ellipsis {
	text-overflow: ellipsis !important;
}
.text-nowrap {
	white-space: nowrap !important;
	overflow: hidden;
}
.text-pre-line {
	white-space: pre-line !important;
}
.text-underline {
	text-decoration: underline;
}
