<template>
	<q-timeline :layout="viewType" color="primary">
		<q-timeline-entry
			v-for="option in timelineOptionsList"
			:key="option.message"
			:title="option.title"
			:side="option.side"
			:icon="option.icon"
		>
			<div>
				{{ option.message }}
			</div>
		</q-timeline-entry>
	</q-timeline>
</template>

<script>
export default {
	name: 'AboutUsTimeline',

	data() {
		return {
			timelineOptionsList: [
				{
					title: 'Ми пропонуємо',
					side: 'left',
					icon: 'fa-solid fa-list-ul',
					message:
						'Співробітництво у сфері купівлі-продажу авто, рефрижераторів для бізнесу в роздріб та оптом!',
				},
				{
					title: 'Наш досвід',
					side: 'right',
					icon: 'fa-solid fa-database',
					message: `Наш досвід роботи у купівлі-продажу авто для замовника  - 20 років,
						що дає можливість швидко та ефективно вирішувати нестандартні запити клієнтів та ситуації, пов'язані з цим!`,
				},
				{
					title: 'Ми гарантуємо',
					side: 'left',
					icon: 'task_alt',
					message: `Ви отримаєте бажане авто в повному комфорті для себе, що зекономить Ваш час та зусилля.
						Забудьте про проблеми з пошуком потрібного автотранспорту
						Вам більше не потрібно вникати в технічні характеристики при пошуку спеціального транспорту. Все це ми беремо на себе, а ви отримуєте ідеальний транспорт під ваш запит!`,
				},
				{
					title: 'Наша ціль',
					side: 'right',
					icon: 'mode_standby',
					message:
						'Ми орієнтовані на довгострокові відносини і будемо робити все можливе для їх побудови!',
				},
				{
					title: 'Запрошуємо',
					side: 'left',
					icon: 'fa-solid fa-door-open',
					message:
						'Запрошуємо Вас на наш виставковий торгівельний майданчик за адресою: м. Дніпро, Донецьке шосе, 174',
				},
			],
		};
	},

	computed: {
		isWideScreen() {
			return this.$q.screen.gt.sm;
		},

		viewType() {
			return this.isWideScreen ? 'loose' : 'dense';
		},
	},
};
</script>
