<template>
	<q-breadcrumbs gutter="xs">
		<q-breadcrumbs-el
			v-for="breadcrumb in breadcrumbsOptions"
			:key="breadcrumb.path"
			:label="breadcrumb.label"
			:icon="breadcrumb.icon"
			:to="breadcrumb.path"
			exact-active-class="text-primary"
			class="text-caption"
		/>
	</q-breadcrumbs>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'CommonBreadcrumbs',

	computed: {
		...mapGetters('cars', ['getCarById']),

		routesOptions() {
			return {
				home: {
					icon: 'o_home',
				},
				cars: {
					label: 'Автомобілі',
					icon: 'o_local_shipping',
					path: 'cars-list',
				},
				services: {
					label: 'Послуги',
					icon: 'o_receipt_long',
					path: 'services',
				},
				about: {
					label: 'Про компанію',
					icon: 'o_privacy_tip',
				},
				payment: {
					label: 'Оплата і доставка',
					icon: 'o_request_quote',
					path: 'payment-and-delivery',
				},
				clients: {
					label: 'Клієнти',
					icon: 'o_groups',
				},
				contacts: {
					label: 'Контакти',
					icon: 'o_location_on',
				},
			};
		},

		breadcrumbsOptions() {
			const breadcrumbsList = this.$route.matched
				.map((route) => ({
					...this.routesOptions[route.name],
					path: route.path,
				}))
				.filter((route) => route.icon);

			if (this.$route.params.id) {
				const selectedCar = this.getCarById(this.$route.params.id);

				breadcrumbsList.push({
					label: selectedCar?.label,
				});
			}

			return breadcrumbsList;
		},
	},
};
</script>
