<template>
	<div class="relative-position google-map-container full-height">
		<iframe
			:src="mapLink"
			width="100%"
			height="100%"
			style="border: 0; min-height: 450px"
			allowfullscreen=""
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"
		/>
		<div
			class="row no-wrap items-center justify-center non-selectable google-map-container__overlay"
		>
			<div class="text-white text-reqular text-h6">Ми на мапі</div>
			<q-icon name="o_touch_app" size="md" color="primary" />
		</div>
	</div>
</template>

<script>
export default {
	name: 'GoogleMap',

	data() {
		return {
			// eslint-disable-next-line max-len
			mapLink: `https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2641.917742541871!2d35.04934389999999!3d48.5348081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d958db2903d0b9%3A0x16acd3ccca1579e1!2z0JTQvtC90LXRhtC60L7QtSDRiC4sIDE3NCwg0JTQvdC10L_RgCwg0JTQvdC10L_RgNC-0L_QtdGC0YDQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDQ5MDAw!5e0!3m2!1sru!2sua!4v1689834779205!5m2!1sru!2sua`,
		};
	},
};
</script>

<style lang="scss" scoped>
.google-map-container {
	min-height: 450px;

	&__overlay {
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: black;
		opacity: 0.85;
		transition: all 0.4s ease;
	}
}

.google-map-container:hover {
	.google-map-container__overlay {
		opacity: 0;
		z-index: -1;
	}
}
</style>
