<template>
	<component
		:is="link.path && !link.target ? 'router-link' : 'div'"
		:to="link.path"
		:class="[
			`row items-center no-wrap ${textColor}`,
			{ link: link.path || link.childs },
		]"
	>
		<div>
			<component
				:is="link.target ? 'a' : 'div'"
				:href="link.path"
				:target="link.target"
			>
				<q-icon :name="link.icon" size="sm" color="primary" />
			</component>
		</div>
		<div class="text-subtitle1 q-ml-sm">
			<div v-if="link.childs">
				<div class="column">
					<a
						v-for="child in link.childs"
						:key="child.label"
						:href="child.path"
						:target="child.target"
						:class="['row', textColor]"
					>
						{{ child.label }}
					</a>
				</div>
			</div>
			<div v-else :style="link.styles">{{ link.label }}</div>
		</div>
	</component>
</template>

<script>
export default {
	name: 'LinksGroup',

	props: {
		link: {
			type: Object,
			required: true,
		},

		textColor: {
			type: String,
			required: false,
			default: 'text-white',
		},
	},
};
</script>
