<template>
	<footer :class="['bg-dark', { 'q-px-xl': isWideScreen }]">
		<div
			:class="[
				'q-px-xl q-py-md row no-wrap',
				$q.screen.xs ? 'justify-start' : 'justify-around',
			]"
		>
			<div
				v-for="group in visibleGroups"
				:key="group.label"
				class="q-px-sm column links-group"
			>
				<div
					class="text-uppercase text-h6 text-bold q-my-sm text-white"
				>
					{{ group.label }}
				</div>
				<div class="links-group__links-container q-pl-sm q-gutter-y-sm">
					<div v-for="link in group.links" :key="link.label">
						<LinksGroup :link="link" />
					</div>
				</div>
			</div>
		</div>
		<div
			class="text-grey-7 text-right text-overline non-selectable q-pr-xs"
		>
			© 2023 ТОВ "РЕФ ЕНД БУС". Всі права захищені.
		</div>
	</footer>
</template>

<script>
import LinksGroup from '@/common/LinksGroup.vue';
import {
	COMPANY_CONTACT_PERSONS,
	COMPANY_EMAILS,
	COMPANY_DETAILS,
} from 'utils/constants';
import { getFormattedPhoneNumber } from 'utils/formatters';

export default {
	name: 'MainFooter',

	components: { LinksGroup },

	computed: {
		isWideScreen() {
			return this.$q.screen.gt.sm;
		},

		phoneNumbers() {
			return Object.values(COMPANY_CONTACT_PERSONS).map((contact) => ({
				path: `tel:+${contact.phone}`,
				label: getFormattedPhoneNumber(contact.phone),
			}));
		},

		groups() {
			return [
				{
					label: 'Про нас',
					links: [
						{
							label: 'Про компанію',
							icon: 'o_privacy_tip',
							path: '/about-us',
						},
						{
							label: 'Оплата і доставка',
							icon: 'o_request_quote',
							path: '/payment-and-delivery',
						},
						{
							label: 'Клієнти',
							icon: 'o_groups',
							path: '/clients',
						},
						{
							label: 'Контакти',
							icon: 'o_location_on',
							path: '/contacts',
						},
					],
				},
				{
					exclude: this.$q.screen.lt.sm,
					label: 'Каталог',
					links: [
						{
							label: 'Автомобілі',
							icon: 'o_local_shipping',
							path: '/cars-list',
						},
						{
							label: 'Послуги',
							icon: 'o_receipt_long',
							path: '/services',
						},
					],
				},
				{
					exclude: this.$q.screen.lt.md,
					label: 'Контакти',
					links: [
						{
							label: COMPANY_DETAILS.LEGAL_ADDRESS,
							icon: 'o_location_on',
						},
						{
							childs: this.phoneNumbers,
							icon: 'o_phone',
						},
						{
							childs: [
								{
									label: COMPANY_EMAILS.CONTACT_EMAIL,
									path: `mailto:${COMPANY_EMAILS.CONTACT_EMAIL}`,
									target: '_blank',
								},
							],
							icon: 'o_email',
						},
						{
							label: COMPANY_DETAILS.SCHEDULE,
							icon: 'schedule',
							styles: 'white-space: pre-wrap',
						},
						{
							childs: [
								{
									label: 'Ми на AUTO.RIA',
									path: COMPANY_DETAILS.AUTO_RIA_LINK,
									target: '_blank',
								},
							],
							icon: 'language',
						}
					],
				},
			];
		},

		visibleGroups() {
			return this.groups.filter((group) => !group.exclude);
		},
	},
};
</script>

<style lang="scss" scoped>
.links-group {
	max-width: 360px;

	&__links-container {
		border-left: 1px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(to top, #fdd24c 0%, #f60e19 100%);

		.link {
			&:hover {
				color: $primary !important;
			}
			&.router-link-active {
				color: $primary !important;
			}
		}
	}
}
</style>
