<template>
	<q-responsive :ratio="ratio" class="full-width">
		<q-carousel
			v-model="slideNumber"
			v-bind="$attrs"
			control-color="primary"
			animated
			infinite
		>
			<q-carousel-slide
				v-for="(image, index) in images"
				:key="image"
				:name="index"
				:img-src="image"
			/>
		</q-carousel>
	</q-responsive>
</template>

<script>
export default {
	name: 'ResponsiveCarousel',

	inheritAttrs: false,

	props: {
		images: {
			type: Array,
			required: true,
		},
		ratio: {
			type: Number,
			required: true,
		},
	},

	data() {
		return {
			slideNumber: 0,
		};
	},
};
</script>
