<template>
	<q-stepper
		v-model="step"
		class="common-stepper"
		color="primary"
		vertical
	>
		<q-step
			v-for="step in stepsList"
			:key="step.title"
			:title="step.title"
			:active-icon="step.icon"
			name="1"
		>
			<q-list dense separator>
				<q-item-label class="q-py-xs" header>
					{{ step.header }}
				</q-item-label>
				<q-item v-for="option in step.options" :key="option">
					<q-item-section avatar>
						<q-icon name="task_alt" color="primary" />
					</q-item-section>
					<q-item-section> {{ option }} </q-item-section>
				</q-item>
			</q-list>
		</q-step>
	</q-stepper>
</template>

<script>
export default {
	name: 'ServicesStepper',

	data() {
		return {
			step: '1',

			stepsList: [
				{
					title: 'Потрібно авто для бізнесу?',
					header: 'Ми забезпечуємо:',
					icon: 'list',
					options: [
						'Легальність ввозу та розмитнення авто з прозорими документами',
						'Надійність угоди',
						'Можливість купити авто з ПДВ',
						'Пригон авто під вимоги клієнта в необхідні терміни',
						'Можливість вибору авто з існуючих в Україні',
						'Гарні ціни та можливість отримувати знижки завдяки плідним довгостроковим відносинам',
					],
				},
				{
					title: 'Ви витрачаєте на його пошук та оформлення угоди багато часу та сил?',
					header: 'З нами ви отримаєте:',
					icon: 'trending_up',
					options: [
						'Впевненість',
						'Злагодженість',
						'Гарантію якості як у відносинах так у наших товарах та послугах',
						'Дотримання обговорених строків',
						'Контактність',
						'Організованість',
					],
				},
				{
					title: 'Вам попадались неякісні та недобросовісні продавці, партнери в питаннях купівлі авто для Вашого бізнесу?',
					header: 'Ми виконуємо:',
					icon: 'settings',
					options: [
						'Підбір та доставку автомобілів: рефрижераторів, бортових вантажівок, фургонів та автобусів',
						'Встановлення на облік в МРЕВ',
						'Комплексну діагностику на професійному обладнанні',
						'Сервіс та ТО',
					],
				},
			],
		};
	},
};
</script>
