<template>
	<div class="row justify-center">
		<div class="message text-center">
			<div class="text-h5 text-italic text-bold">
				Хороше авто - це обличчя Вашого бізнесу та безпека Ваших
				співробітників!
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'SloganMessage',
};
</script>

<style lang="scss" scoped>
.message {
	position: relative;
	text-align: center;
	display: inline-block;
	border: 2px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to top, #fdd24c 0%, #f60e19 100%);
	border-radius: 10px;
	padding: 20px 100px;
	font-size: 20px;
	font-weight: 700;

	&::before,
	&::after {
		height: 22px;
		position: absolute;
		display: block;
		color: #fdcc37;
		background: #fff;
		font-size: 50px;
		line-height: 1;
		padding: 0 5px;
	}
	&::before {
		content: '\201D';
		bottom: -10px;
		right: 20px;
	}
	&::after {
		content: '\201C';
		top: -10px;
		left: 20px;
	}
}

@media (max-width: $breakpoint-sm) {
	.message {
		padding: 20px;
	}
}
</style>
