<template>
	<div class="swipe relative-position row inline z-fab">
		<div class="path" />
		<q-icon
			name="touch_app"
			size="lg"
			color="dark"
			class="hand-icon"
		/>
	</div>
</template>

<script>
export default {
	name: 'SwipePrompt',
};
</script>

<style lang="scss" scoped>
.swipe {
	.hand-icon {
		position: relative;
		width: 100px;
		height: 100px;
		animation: 2s ease 0.5s infinite normal none running swipe-hand;
		opacity: 0.5;

		@keyframes swipe-hand {
			5% {
				transform: translate(35px) rotate(30deg);
			}
		}
	}
	.path {
		width: 16px;
		height: 16px;
		position: absolute;
		border-radius: 32px;
		top: 34px;
		left: 40px;
		background: linear-gradient(90deg, #fdd14c11 0%, #f28b05ad 100%);

		animation: 2s ease 0.5s infinite normal none running swipe-dot;

		@keyframes swipe-dot {
			5% {
				width: 55px;
			}
		}
	}
}
</style>
