<template>
	<div class="q-pa-lg">
		<CommonBreadcrumbs />

		<q-separator class="linear-gradient q-my-md" size="2px" />

		<h1 class="text-h5 text-weight-bolder text-uppercase q-my-md">
			Наші автомобілі
		</h1>

		<div class="common-page-content">
			<div
				:class="[
					'justify-end',
					isWideScreen ? 'row' : 'column reverse',
				]"
			>
				<q-input
					v-model="searchString"
					:maxlength="50"
					:style="searchInputWidth"
					label="Пошук авто"
					color="primary"
					class="q-pa-none"
					clearable
					hide-hint
					@update:model-value="searchByString"
				/>
				<div class="row justify-end items-center q-ml-sm q-gutter-x-sm">
					<q-select
						:model-value="sortType"
						:options="sortOptions"
						label="Сортування"
						style="width: 180px"
						map-options
						emit-value
						@update:model-value="changeSortType"
					/>
					<q-btn
						:color="isDetailView ? 'dark' : 'primary'"
						icon="o_apps"
						title="Компактний вид"
						round
						flat
						@click="changeViewType(false)"
					/>
					<q-btn
						:color="isDetailView ? 'primary' : 'dark'"
						icon="format_list_bulleted"
						title="Детальний вид"
						round
						flat
						@click="changeViewType(true)"
					/>
				</div>
			</div>
			<div :class="['q-mt-md', isWideScreen ? 'row no-wrap' : 'column']">
				<CarsFilter
					:filterParams="filterParams"
					@run-filter="changeFilter"
				/>

				<div
					v-if="images.length"
					:class="['full-width', { 'q-mt-md': !isWideScreen }]"
				>
					<div v-if="carsList.length && !loading">
						<TransitionGroup
							name="fade"
							tag="div"
							:class="[
								'common-grid',
								isWideScreen ? 'q-ml-md' : 'q-mt-md',
								isDetailView ? 'common-grid--detailed' : '',
							]"
							appear
						>
							<div v-for="car in carsList" :key="car.id">
								<KeepAlive>
									<CarCard
										:car="car"
										:carImage="getCarImage(car.id)"
										:isDetailView="isDetailView"
									/>
								</KeepAlive>
							</div>
						</TransitionGroup>
					</div>
					<q-inner-loading v-else-if="loading" />
					<ErrorNotFound
						v-else
						message="Наразі ми не маємо авто із заданими характеристиками..."
						size="200px"
						hideButton
					/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import CommonBreadcrumbs from '@/common/CommonBreadcrumbs.vue';
import CarsFilter from '@/cars/CarsFilter.vue';
import CarCard from '@/cars/CarCard.vue';
import ErrorNotFound from 'pages/ErrorNotFound.vue';
import { mapGetters } from 'vuex';
import { loadImages } from 'utils/helpers';

const imagePromises = import.meta.glob('assets/cars/**/*.(jpeg|jpg|png)');

export default {
	name: 'CarsListPage',

	components: {
		CommonBreadcrumbs,
		CarsFilter,
		CarCard,
		ErrorNotFound,
	},

	data() {
		return {
			carsList: [],
			loading: false,

			isDetailView: false,

			filterParams: {
				transmissionGroup: [],
				yearsGroup: [],
				constructionTypeGroup: [],

				priceRange: {
					min: 0,
					max: 100000,
				},
			},
			sortType: { name: 'date', label: 'Найновіші' },
			searchString: '',

			images: [],
		};
	},

	computed: {
		...mapGetters('cars', ['filteredCars']),

		isWideScreen() {
			return this.$q.screen.gt.sm;
		},

		searchInputWidth() {
			return `width: ${this.isWideScreen ? '360px' : 'auto'};`;
		},

		sortOptions() {
			return [
				{ name: 'date', label: 'Найновіші' },
				{ name: 'priceAsc', label: 'По зростанню ціни' },
				{ name: 'priceDesc', label: 'По спаданню ціни' },
			];
		},
	},

	async created() {
		this.getQueryParams();

		this.images = await loadImages(imagePromises);
	},

	watch: {
		'$route.query': {
			handler() {
				this.getQueryParams();
			},
		},
	},

	methods: {
		getCarImage(carId) {
			return this.images.find((image) => image.includes(carId));
		},

		changeFilter(filter) {
			this.filterParams = filter;

			this.searchCarsByFilter();
		},

		changeSortType(sortType) {
			this.sortType = sortType;

			this.searchCarsByFilter();
		},

		searchByString(string) {
			this.searchString = string || '';

			this.searchCarsByFilter();
		},

		searchCarsByFilter() {
			this.loading = true;

			this.carsList = this.filteredCars(
				this.filterParams,
				this.sortType,
				this.searchString
			);

			this.replaceQueryParams();

			this.loading = false;
		},

		changeViewType(value) {
			this.isDetailView = value;

			this.replaceQueryParams();
		},

		getQueryParams() {
			const query = this.$route.query;

			this.filterParams.transmissionGroup =
				query.transmissionGroup?.split(',') || [];
			this.filterParams.yearsGroup =
				query.yearsGroup?.split(',').map((year) => Number(year)) || [];
			this.filterParams.constructionTypeGroup =
				query.constructionTypeGroup?.split(',') || [];
			if (query.priceRangeMin) {
				this.filterParams.priceRange.min = query.priceRangeMin;
			}
			if (query.priceRangeMax) {
				this.filterParams.priceRange.max = query.priceRangeMax;
			}

			if (query.sortType) {
				this.sortType = this.sortOptions.find(
					(option) => option.name === query.sortType
				);
			}
			if (query.searchString) {
				this.searchString = query.searchString.replace('+', ' ');
			}
			this.isDetailView = query.isDetailView === 'true';
		},

		replaceQueryParams() {
			const {
				transmissionGroup,
				yearsGroup,
				constructionTypeGroup,
				priceRange,
			} = this.filterParams;

			const params = {
				transmissionGroup: transmissionGroup.length
					? transmissionGroup.join(',')
					: undefined,
				yearsGroup: yearsGroup.length
					? yearsGroup.join(',')
					: undefined,
				constructionTypeGroup: constructionTypeGroup.length
					? constructionTypeGroup.join(',')
					: undefined,

				priceRangeMin: priceRange.min,
				priceRangeMax: priceRange.max,

				sortType: this.sortType.name,
				isDetailView: this.isDetailView,
				searchString: this.searchString,
			};

			const query = JSON.parse(JSON.stringify(params));

			this.$router.replace({ query });
		},
	},
};
</script>
