<template>
	<div class="q-pa-lg">
		<CommonBreadcrumbs />

		<q-separator class="linear-gradient q-my-md" size="2px" />

		<div class="common-page-content">
			<div v-if="selectedCar">
				<div class="row">
					<div class="col-xs-12 col-lg-6 relative-position">
						<ResponsiveCarousel
							:images="images"
							:ratio="ASPECT_RATIO"
							:autoplay="2500"
							:transition-duration="800"
							:thumbnails="isWideScreen"
							:navigation="!isWideScreen"
							:arrows="!isWideScreen"
							:swipeable="!isWideScreen"
							transition-prev="slide-right"
							transition-next="slide-left"
							class="shadow-2"
						/>
						<CarBadge :car="selectedCar" />
					</div>
					<div class="col-12 col-lg-6">
						<div
							:class="[
								'full-height',
								isWideScreen ? 'row no-wrap' : 'column',
							]"
						>
							<q-separator
								:vertical="isWideScreen"
								:class="isWideScreen ? 'q-mx-md' : 'q-my-md'"
							/>
							<div class="full-width">
								<h1
									class="text-h5 text-weight-bolder text-uppercase q-ma-none"
								>
									{{ selectedCar.label }}
								</h1>

								<p
									v-for="paragraph in carDescriptionParagraphs"
									:key="paragraph"
									class="q-my-sm"
								>
									{{ paragraph }}
								</p>

								<div class="text-weight-bolder text-h4">
									{{ formatAmount(selectedCar.price) }}
								</div>

								<div
									class="column items-end q-gutter-y-sm q-mt-sm"
								>
									<CreateRequestButton
										label="Зворотній дзвінок"
										icon="o_phone"
										color="primary"
										class="fit-content"
										@click="
											showRequestCallbackDialog = true
										"
									/>
									<CreateRequestButton
										v-if="selectedCar.available"
										label="Записатися на тест-драйв"
										icon="o_edit_road"
										color="primary"
										class="fit-content"
										@click="
											showRequestTestDriveDialog = true
										"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<CarDetailsTable
						:car="selectedCar"
						class="q-mt-md col-12 col-xl-6"
					/>
				</div>

				<template v-if="similarCarsList.length">
					<q-separator class="q-my-md" />

					<h2 class="text-h5 text-weight-bolder text-uppercase">
						Схожі пропозиції
					</h2>
					<CarsGrid :carsList="similarCarsList" class="q-mx-auto" />
				</template>
			</div>

			<ErrorNotFound v-else />
		</div>

		<RequestCallbackDialog
			v-if="showRequestCallbackDialog"
			:carLinkParams="carLinkParams"
			@dialog-closed="showRequestCallbackDialog = false"
		/>
		<RequestTestDriveDialog
			v-if="showRequestTestDriveDialog"
			:carLinkParams="carLinkParams"
			@dialog-closed="showRequestTestDriveDialog = false"
		/>
	</div>
</template>

<script>
import CommonBreadcrumbs from '@/common/CommonBreadcrumbs.vue';
import ResponsiveCarousel from '@/common/ResponsiveCarousel.vue';
import CreateRequestButton from '@/buttons/CreateRequestButton.vue';
import CarDetailsTable from '@/cars/CarDetailsTable.vue';
import CarsGrid from '@/cars/CarsGrid.vue';
import ErrorNotFound from 'pages/ErrorNotFound.vue';
import formatters from 'mixins/formatters';
import { defineAsyncComponent } from 'vue';
import { mapGetters } from 'vuex';
import { loadImages } from 'utils/helpers';
import { getAppBaseUrl } from 'utils/helpers';
import { scroll } from 'quasar';

const { setVerticalScrollPosition } = scroll;
const imagePromises = import.meta.glob('assets/cars/**/*.(jpeg|jpg|png)');

export default {
	name: 'SingleCarPage',

	props: {
		id: {
			type: String,
			required: true,
		},
	},

	components: {
		CommonBreadcrumbs,
		ResponsiveCarousel,
		CarDetailsTable,
		CarsGrid,
		CreateRequestButton,
		ErrorNotFound,
		CarBadge: defineAsyncComponent(() => import('@/cars/CarBadge.vue')),
		RequestCallbackDialog: defineAsyncComponent(() =>
			import('@/dialogs/RequestCallbackDialog.vue')
		),
		RequestTestDriveDialog: defineAsyncComponent(() =>
			import('@/dialogs/RequestTestDriveDialog.vue')
		),
	},

	mixins: [formatters],

	data() {
		return {
			showRequestCallbackDialog: false,
			showRequestTestDriveDialog: false,

			images: [],

			ASPECT_RATIO: 2.01, // 2931/1454
		};
	},

	computed: {
		...mapGetters('cars', ['getCarById', 'getSimilarCarsList']),

		isWideScreen() {
			return this.$q.screen.gt.sm;
		},

		carLinkParams() {
			const baseUrl = getAppBaseUrl();

			return {
				link: `${baseUrl}${this.$route.path}`,
				label: this.selectedCar.label,
			};
		},

		selectedCar() {
			return this.getCarById(this.id);
		},

		similarCarsList() {
			return this.getSimilarCarsList(this.selectedCar);
		},

		carDescriptionParagraphs() {
			return this.selectedCar?.description.split('\n');
		},
	},

	async created() {
		this.$router.replace({ query: {} });

		const filteredPromises = this.removeExcessImages(imagePromises);

		this.images = await loadImages(filteredPromises);
	},

	async mounted() {
		const scrollTarget = document.querySelector('.q-layout');

		if (!scrollTarget) return;

		await this.$nextTick();
		setVerticalScrollPosition(scrollTarget, 0, 200);
	},

	methods: {
		removeExcessImages(imagePromises) {
			const selectedCarPromises = {};

			for (let key in imagePromises) {
				if (key.includes(this.id)) {
					selectedCarPromises[key] = imagePromises[key];
				}
			}

			return selectedCarPromises;
		},
	},
};
</script>
