<template>
	<router-view />
</template>

<script>
import carsList from 'statics/availableCarsList.json';

export default {
	name: 'App',

	// Server-side only
	// This will be called by the server renderer automatically
	preFetch({ store }) {
		store.commit('cars/SET_CARS_LIST', carsList.cars);
	},

	created() {
		this.$q.screen.setSizes({
			sm: 480,
			md: 998,
			lg: 1199,
			xl: 1920,
		});
	},
};
</script>
