<template>
	<q-layout
		view="hHh lpR lFf"
		class="fit column no-wrap justify-between scroll"
	>
		<q-drawer
			v-model="leftDrawerOpen"
			:mini="miniMode"
			:breakpoint="480"
			side="left"
			class="drawer bg-dark"
			elevated
			mini-to-overlay
			@mouseout="mouseOut"
		>
			<div class="column no-wrap full-height q-pb-md">
				<div class="column no-wrap logo-container">
					<div
						class="row items-center justify-center cursor-pointer logo-container__img-wrapper"
						@click="goToMain"
					>
						<img src="~assets/logo/ref-and-bus-white-fit.png" />
					</div>
					<div
						v-show="!isMiniMode"
						class="cursor--no-pointer text-center text-white q-px-sm logo__caption"
					>
						Вантажні авто для бізнесу
					</div>
				</div>

				<q-separator class="linear-gradient" spaced />

				<div class="column justify-between flex-grow">
					<q-list padding>
						<q-item class="menu-item">
							<q-item-section avatar>
								<q-icon
									name="o_search"
									class="text-white cursor-pointer"
									@click="focusOnInput"
								/>
							</q-item-section>
							<q-item-section>
								<q-input
									ref="searchInput"
									v-model="searchString"
									label="Пошук авто"
									color="primary"
									class="q-pa-none"
									clearable
									hide-bottom-space
									hide-hint
									dense
									dark
									item-aligned
									@keyup.enter="findCars"
								/>
							</q-item-section>
						</q-item>
						<q-item
							v-for="item in menuItems"
							:key="item.path"
							:to="item.path"
							:title="item.label"
							class="row menu-item text-white"
							active-class="text-deep-orange-5"
							clickable
							v-ripple
						>
							<q-item-section avatar>
								<q-icon :name="item.icon" />
							</q-item-section>
							<q-item-section>
								{{ item.label }}
							</q-item-section>
						</q-item>
					</q-list>

					<div class="column q-px-sm q-gutter-y-md">
						<div
							:class="[
								'column text-bold text-h6',
								isMiniMode
									? 'phone-numbers--hidden'
									: 'phone-numbers',
							]"
						>
							<a
								v-for="phone in phoneNumbers"
								:key="phone.value"
								class="row text-nowrap text-white q-pl-lg"
								:href="phone.value"
							>
								{{ phone.label }}
							</a>
						</div>
						<div class="column q-gutter-y-md">
							<CreateRequestButton
								:isMiniMode="isMiniMode"
								label="Зворотній дзвінок"
								icon="o_phone"
								@click="showRequestCallbackDialog = true"
							/>
							<CreateRequestButton
								:isMiniMode="isMiniMode"
								label="Записатися на тест-драйв"
								icon="o_edit_road"
								@click="showRequestTestDriveDialog = true"
							/>
						</div>
					</div>
				</div>
			</div>

			<div class="absolute z-top" style="bottom: 150px; right: -17px">
				<q-btn
					dense
					round
					unelevated
					color="primary"
					:icon="isMiniMode ? 'chevron_right' : 'chevron_left'"
					@click="miniMode = !miniMode"
				/>
			</div>
		</q-drawer>

		<SwipePrompt
			v-if="!canHasMiniMode && !isWideScreen && isMainPage"
			style="position: fixed; left: -34px; top: 50%"
		/>

		<q-page-container class="flex-grow">
			<div class="router-view-wrapper full-height">
				<router-view v-slot="{ Component }">
					<transition name="slide-fade" mode="out-in" appear>
						<component :is="Component" :key="$route.path" />
					</transition>
				</router-view>
			</div>
		</q-page-container>

		<MainFooter />

		<RequestCallbackDialog
			v-if="showRequestCallbackDialog"
			@dialog-closed="showRequestCallbackDialog = false"
		/>
		<RequestTestDriveDialog
			v-if="showRequestTestDriveDialog"
			@dialog-closed="showRequestTestDriveDialog = false"
		/>
	</q-layout>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import { getFormattedPhoneNumber } from 'utils/formatters';
import { COMPANY_CONTACT_PERSONS } from 'utils/constants';
import CreateRequestButton from '@/buttons/CreateRequestButton.vue';
import MainFooter from '@/common/MainFooter.vue';
import SwipePrompt from '@/common/SwipePrompt.vue';

export default {
	name: 'MainLayout',

	components: {
		CreateRequestButton,
		MainFooter,
		SwipePrompt,
		RequestCallbackDialog: defineAsyncComponent(() =>
			import('@/dialogs/RequestCallbackDialog.vue')
		),
		RequestTestDriveDialog: defineAsyncComponent(() =>
			import('@/dialogs/RequestTestDriveDialog.vue')
		),
	},

	data() {
		return {
			leftDrawerOpen: true,
			miniMode: true,

			showRequestCallbackDialog: false,
			showRequestTestDriveDialog: false,

			searchString: '',
		};
	},

	computed: {
		isWideScreen() {
			return this.$q.screen.gt.sm;
		},

		canHasMiniMode() {
			return !this.$q.platform.is.iphone && !this.$q.platform.is.android;
		},

		isMiniMode() {
			return this.miniMode && this.canHasMiniMode;
		},

		isMainPage() {
			return this.$route.name === 'main';
		},

		menuItems() {
			return [
				{
					label: 'Автомобілі',
					icon: 'o_local_shipping',
					path: '/cars',
				},
				{
					label: 'Послуги',
					icon: 'o_receipt_long',
					path: '/services',
				},
				{
					label: 'Про компанію',
					icon: 'o_privacy_tip',
					path: '/about-us',
				},
				{
					label: 'Оплата і доставка',
					icon: 'o_request_quote',
					path: '/payment-and-delivery',
				},
				{
					label: 'Клієнти',
					icon: 'o_groups',
					path: '/clients',
				},
				{
					label: 'Контакти',
					icon: 'o_location_on',
					path: '/contacts',
				},
			];
		},

		phoneNumbers() {
			return Object.values(COMPANY_CONTACT_PERSONS).map((contact) => ({
				value: `tel:+${contact.phone}`,
				label: getFormattedPhoneNumber(contact.phone),
			}));
		},
	},

	created() {
		this.leftDrawerOpen =
			!this.$q.platform.is.iphone && !this.$q.platform.is.android;
		this.miniMode = this.canHasMiniMode;
	},

	methods: {
		goToMain() {
			this.$router.push({ name: 'main' });
		},

		async focusOnInput() {
			this.miniMode = false;

			await this.$nextTick();

			this.$.refs.searchInput.$.ctx.focus();
		},

		mouseOut(event) {
			if (event.currentTarget?.contains(event.relatedTarget)) return;

			// Whait for a ripple
			setTimeout(() => {
				this.miniMode = true;
			}, 400);
		},

		findCars() {
			this.$.refs.searchInput.$.ctx.blur();
			this.miniMode = true;

			if (!this.searchString) return;

			this.searchString = this.searchString
				.replace(/[^a-zа-я .,\d+\-\s!°?]/g, '')
				.replace(/\s/g, '+');

			this.$router.push({
				name: 'cars-list',
				query: { searchString: this.searchString },
			});
		},
	},
};
</script>

<style lang="scss">
.slide-fade-enter-active,
.slide-fade-leave-active {
	transition: all 0.3s ease-out;
}

.slide-fade-enter-from {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}

.slide-fade-leave-to {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}

.router-view-wrapper {
	overflow: hidden;
}

.q-drawer {
	&.q-drawer--mini {
		width: 58px !important;
	}
	.drawer {
		.logo-container {
			height: 58px;

			.logo-container__img-wrapper {
				height: 48px;
				overflow: hidden;

				img {
					width: max(60%, 58px);
					height: auto;
					max-height: 38px;
				}
			}
			.logo__caption {
				line-height: 0.71;
			}
		}

		.menu-item {
			height: 56px;

			.q-field {
				margin-top: -16px;
			}
		}
		.phone-numbers {
			width: auto;
			transition: all 0.2s ease;

			&--hidden {
				width: 0;
				overflow: hidden;
			}

			a {
				width: fit-content;
			}
		}
	}
}
</style>
