<template>
	<q-dialog
		v-model="showDialog"
		:persistent="loading"
		class="common-dialog"
		@hide="$emit('dialog-closed')"
	>
		<q-card>
			<q-card-section
				class="text-center text-uppercase text-bold text-h5"
			>
				Записатись на тест-драйв
			</q-card-section>
			<q-card-section>
				<div class="q-px-xl">
					<q-input
						v-model="form.name"
						:error="v$.form.name.$error"
						:error-message="nameValidationText"
						:maxlength="v$.form.name.maxLength.$params.max"
						label="Прізвище та ім'я"
						class="required-field-mark"
						color="primary"
						inputmode="tel"
						autofocus
						dense
						counter
					>
						<template #prepend>
							<q-icon name="o_person" color="primary" />
						</template>
					</q-input>
					<q-input
						v-model="form.phone"
						:error="v$.form.phone.$error"
						:error-message="phoneValidationText"
						label="Телефон"
						class="required-field-mark"
						mask="38 (###) ### - ## - ##"
						color="primary"
						fill-mask
						dense
						hint
						@paste="pastePhone"
					>
						<template #prepend>
							<q-icon name="o_phone_iphone" color="primary" />
						</template>
					</q-input>
					<q-field
						:error="v$.form.date.$error"
						:error-message="dateValidationText"
						:stackLabel="!!form.date"
						label="Дата та час"
						class="required-field-mark cursor-pointer"
						dense
					>
						<template #prepend>
							<q-icon name="access_time" color="primary" />
						</template>
						<template #control>
							<div
								class="self-center full-width no-outline"
								tabindex="0"
							>
								{{ form.date }}
							</div>
						</template>
						<q-popup-proxy
							transition-show="scale"
							transition-hide="scale"
							cover
							@hide="() => toggleTimePicker(false)"
						>
							<div class="q-gutter-md row items-start">
								<q-date
									v-if="showDatePicker"
									v-model="form.date"
									:options="daysOptionsFn"
									mask="YYYY-MM-DD HH:mm"
									color="primary"
									landscape
								>
									<div class="row items-center justify-end">
										<q-btn
											:disable="!form.date"
											label="Обрати дату"
											color="primary"
											flat
											@click="
												() => toggleTimePicker(true)
											"
										/>
									</div>
								</q-date>
								<q-time
									v-if="showTimePicker"
									v-model="form.date"
									:hour-options="workingHoursOprions"
									:minute-options="minutesOptions"
									mask="DD.MM.YYYY HH:mm"
									color="primary"
									landscape
									format24h
								>
									<div class="row items-center justify-end">
										<q-btn
											label="Обрати час"
											color="primary"
											flat
											v-close-popup
										/>
									</div>
								</q-time>
							</div>
						</q-popup-proxy>
					</q-field>
				</div>
			</q-card-section>
			<q-card-actions align="right">
				<q-btn
					:loading="loading"
					label="Записатись"
					color="primary"
					flat
					@click="requestTestDrive"
				/>
			</q-card-actions>
		</q-card>
	</q-dialog>
</template>

<script>
import requestDialogs from 'mixins/request-dialogs';
import { getClearNumber } from 'utils/formatters';
import { useVuelidate } from '@vuelidate/core';
import { required, maxLength } from '@vuelidate/validators';
import { apiTelegramSendMessage } from 'services/telegram';
import { date } from 'quasar';
// destructuring to keep only what is needed
const { startOfDate } = date;

export default {
	name: 'RequestTestDriveDialog',

	props: {
		carLinkParams: {
			type: Object,
			required: false,
			default: null,
		},
	},

	emits: ['dialog-closed'],

	mixins: [requestDialogs],

	setup() {
		return { v$: useVuelidate() };
	},

	data() {
		return {
			showDialog: true,

			loading: false,

			showDatePicker: true,
			showTimePicker: false,

			dateNow: new Date(),

			WORKING_DAY_START_TIME: 9,
			WORKING_DAY_END_TIME: 18,
			MINUTES_OPTIONS: [0, 15, 30, 45],

			form: {
				name: '',
				phone: '',
				date: null,
			},
		};
	},

	validations() {
		return {
			form: {
				name: {
					required,
					maxLength: maxLength(32),
					validName(val) {
						return /^[а-яa-z .,-`']*$/i.test(val);
					},
				},
				phone: {
					required(val) {
						const clearPhoneValue = getClearNumber(val);

						return clearPhoneValue && clearPhoneValue !== '38';
					},
					minLength(val) {
						return (
							getClearNumber(val).length ===
							this.VALID_PHONE_LENGHT
						);
					},
					validPhone(val) {
						return /^38\s\(0\d{2}\)\s\d{3}\s-\s\d{2}\s-\s\d{2}$/.test(
							val
						);
					},
				},
				date: {
					required,
				},
			},
		};
	},

	computed: {
		dateValidationText() {
			if (this.v$.form.date.required.$invalid) {
				return '"Дата та час" обов\'язкові';
			}

			return '"Дата та час" некоректні';
		},

		lastMinutesOption() {
			return this.MINUTES_OPTIONS[this.MINUTES_OPTIONS.length - 1];
		},

		workingHoursOprions() {
			const options = [];

			const isSameDay = this.checkIsSameDay(new Date(this.form.date));
			const startTimeInSameDay =
				this.dateNow.getMinutes() >= this.lastMinutesOption
					? this.dateNow.getHours() + 1
					: this.dateNow.getHours();

			const startTime = isSameDay
				? startTimeInSameDay
				: this.WORKING_DAY_START_TIME;

			for (
				let time = startTime;
				time <= this.WORKING_DAY_END_TIME - 1;
				time++
			) {
				options.push(time);
			}

			return options;
		},

		minutesOptions() {
			const isLastHour =
				this.dateNow.getHours() === this.WORKING_DAY_END_TIME;
			const startTimeInSameHour = this.MINUTES_OPTIONS.filter(
				(option) => option > this.dateNow.getMinutes()
			);

			return isLastHour ? startTimeInSameHour : this.MINUTES_OPTIONS;
		},
	},

	methods: {
		async requestTestDrive() {
			this.v$.form.$touch();

			if (!this.v$.form.$invalid) {
				try {
					this.loading = true;

					const requestData = {
						name: this.form.name,
						phone: getClearNumber(this.form.phone),
						date: this.form.date,
						selectedCarLink: this.carLinkParams?.link,
						selectedCarLabel: this.carLinkParams?.label,
					};

					const response = await apiTelegramSendMessage(requestData);

					if (!response.data.success)
						throw new Error('Something went wrong');

					this.$q.notify({
						message:
							"Ваш запит прийнято. Найближчим часом ми зв'яжемося з Вами для уточнення деталей",
						color: 'positive',
						icon: 'done',
						timeout: 5000,
						progress: true,
					});
				} catch (error) {
					this.$q.notify({
						message:
							'Під час обробки запиту виникла помилка. Будь ласка, спробуйте пізніше',
						color: 'negative',
						icon: 'warning_amber',
						timeout: 5000,
						progress: true,
					});
				} finally {
					this.loading = true;
					this.showDialog = false;
				}
			}
		},

		daysOptionsFn(date) {
			const dateOption = new Date(date);

			const isDayInFuture =
				startOfDate(dateOption, 'day') >
				startOfDate(this.dateNow, 'day');
			const isSameDay = this.checkIsSameDay(dateOption);

			const companyStillOpen =
				this.dateNow.getHours() <= this.WORKING_DAY_END_TIME &&
				this.dateNow.getMinutes() < this.lastMinutesOption;

			return isDayInFuture || (isSameDay && companyStillOpen);
		},

		checkIsSameDay(date) {
			return (
				this.dateNow.getDate() === date.getDate() &&
				this.dateNow.getMonth() === date.getMonth() &&
				this.dateNow.getFullYear() === date.getFullYear()
			);
		},

		toggleTimePicker(state) {
			this.showDatePicker = !state;
			this.showTimePicker = state;
		},
	},
};
</script>
