<template>
	<q-dialog
		v-model="showDialog"
		:persistent="loading"
		class="common-dialog"
		@hide="$emit('dialog-closed')"
	>
		<q-card>
			<q-card-section
				class="text-center text-uppercase text-bold text-h5"
			>
				Замовити дзвінок
			</q-card-section>
			<q-card-section>
				<div class="q-px-xl">
					<q-input
						v-model="form.name"
						:error="v$.form.name.$error"
						:error-message="nameValidationText"
						:maxlength="v$.form.name.maxLength.$params.max"
						label="Прізвище та ім'я"
						class="required-field-mark"
						color="primary"
						autofocus
						dense
						counter
					>
						<template #prepend>
							<q-icon name="o_person" color="primary" />
						</template>
					</q-input>
					<q-input
						v-model="form.phone"
						:error="v$.form.phone.$error"
						:error-message="phoneValidationText"
						label="Телефон"
						class="required-field-mark"
						mask="38 (###) ### - ## - ##"
						color="primary"
						inputmode="tel"
						fill-mask
						dense
						hint
						@paste="pastePhone"
					>
						<template #prepend>
							<q-icon name="o_phone_iphone" color="primary" />
						</template>
					</q-input>
					<q-input
						v-model="form.companyName"
						:error="v$.form.companyName.$error"
						:error-message="companyNameValidationText"
						:maxlength="v$.form.companyName.maxLength.$params.max"
						label="Назва компанії"
						class="required-field-mark-acquaintance"
						color="primary"
						dense
						counter
					>
						<template #prepend>
							<q-icon name="o_business" color="primary" />
						</template>
					</q-input>
				</div>
			</q-card-section>
			<q-card-actions align="right">
				<q-btn
					:loading="loading"
					label="Замовити"
					color="primary"
					flat
					@click="requestCallback"
				/>
			</q-card-actions>
		</q-card>
	</q-dialog>
</template>

<script>
import requestDialogs from 'mixins/request-dialogs';
import { getClearNumber } from 'utils/formatters';
import { useVuelidate } from '@vuelidate/core';
import { required, maxLength } from '@vuelidate/validators';
import { apiTelegramSendMessage } from 'services/telegram';

export default {
	name: 'RequestCallbackDialog',

	props: {
		carLinkParams: {
			type: Object,
			required: false,
			default: null,
		},
	},

	emits: ['dialog-closed'],

	mixins: [requestDialogs],

	setup() {
		return { v$: useVuelidate() };
	},

	data() {
		return {
			showDialog: true,

			loading: false,

			form: {
				name: '',
				phone: '',
				companyName: '',
			},
		};
	},

	validations() {
		return {
			form: {
				name: {
					required,
					maxLength: maxLength(32),
					validName(val) {
						return /^[а-яa-z .,-`']*$/i.test(val);
					},
				},
				phone: {
					required(val) {
						const clearPhoneValue = getClearNumber(val);

						return clearPhoneValue && clearPhoneValue !== '38';
					},
					minLength(val) {
						return (
							getClearNumber(val).length ===
							this.VALID_PHONE_LENGHT
						);
					},
					validPhone(val) {
						return /^38\s\(0\d{2}\)\s\d{3}\s-\s\d{2}\s-\s\d{2}$/.test(
							val
						);
					},
				},
				companyName: {
					maxLength: maxLength(70),
					validCompanyName(val) {
						return /^[а-яa-z0-9 .,&-`'"]*$/i.test(val);
					},
				},
			},
		};
	},

	computed: {
		companyNameValidationText() {
			if (this.v$.form.companyName.maxLength.$invalid) {
				return '"Назва компанії" занадто довга';
			}

			return '"Назва компанії" некоректна';
		},
	},

	methods: {
		async requestCallback() {
			this.v$.form.$touch();

			if (!this.v$.form.$invalid) {
				try {
					this.loading = true;

					const requestData = {
						name: this.form.name,
						phone: getClearNumber(this.form.phone),
						companyName: this.form.companyName,
						selectedCarLink: this.carLinkParams?.link,
						selectedCarLabel: this.carLinkParams?.label,
					};

					const response = await apiTelegramSendMessage(requestData);

					if (!response.data.success)
						throw new Error('Something went wrong');

					this.$q.notify({
						message:
							"Ваш запит прийнято. Ми обов'язково зателефонуємо Вам найближчим часом",
						color: 'positive',
						icon: 'done',
						timeout: 5000,
						progress: true,
					});
				} catch (error) {
					this.$q.notify({
						message:
							'Під час обробки запиту виникла помилка. Будь ласка, спробуйте пізніше',
						color: 'negative',
						icon: 'warning_amber',
						timeout: 5000,
						progress: true,
					});
				} finally {
					this.loading = true;
					this.showDialog = false;
				}
			}
		},
	},
};
</script>
