<template>
	<q-card class="shadow-transition column contact-person">
		<q-responsive :ratio="0.66" style="height: 480px">
			<q-img :src="personImage" width="100%">
				<template #loading>
					<q-spinner :thickness="2" size="2em" color="primary" />
				</template>
			</q-img>
		</q-responsive>
		<q-card-section class="flex-grow">
			<div class="text-bold text-h6">
				{{ person.name }}
			</div>
			<a
				:href="person.phoneValue"
				class="row items-center no-wrap text-subtitle1 text-black"
			>
				<div>
					<q-icon name="o_phone" size="sm" color="primary" />
				</div>
				<div class="q-ml-sm">{{ person.phoneLabel }}</div>
			</a>
			<div>
				{{ person.title }}
			</div>
		</q-card-section>
		<div class="linear-gradient relative-position" style="height: 4px">
			<div class="linear-gradient__inner" />
		</div>
	</q-card>
</template>

<script>
import { loadImages } from 'utils/helpers';

const imagePromises = import.meta.glob('assets/contacts/*.(jpeg|jpg|png)');

export default {
	name: 'ContactPersonCard',

	props: {
		person: {
			type: Object,
			required: true,
		},
	},

	data() {
		return {
			personImage: null,
		};
	},

	async created() {
		const images = await loadImages(imagePromises);

		this.personImage = images.find((image) =>
			image.includes(this.person.role)
		);
	},
};
</script>

<style lang="scss">
.contact-person {
	max-width: 425px;
	width: -webkit-fill-available;
	justify-self: center;
}
</style>
