<template>
	<div class="column">
		<div class="text-h6 text-bold">Як ми працюємо?</div>
		<div>
			<q-stepper v-model="step" class="common-stepper" vertical>
				<q-step
					v-for="step in stepsList"
					:key="step.title"
					:title="step.title"
					:active-icon="step.icon"
					name="1"
				/>
			</q-stepper>
		</div>
	</div>
</template>

<script>
export default {
	name: 'OurWorkflow',

	data() {
		return {
			step: '1',

			stepsList: [
				{
					title: 'Зустрічаємось',
					icon: 'fa-regular fa-handshake',
				},
				{
					title: 'Отримуємо Ваше завдання/замовлення/побажання',
					icon: 'receipt_long',
				},
				{
					title: 'Виконуємо його в обумовлені строки та максимально комфортно для Вас',
					icon: 'task',
				},
			],
		};
	},
};
</script>
